<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <link rel="dns-prefetch" href="<%= config.url %>">
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- partial('css') %>
  <style type="text/css">
  <% var defaultCtnBg = 'linear-gradient(200deg,#a0cfe4,#e8c37e)' %>
    #container.show {
      background: <%= theme.style && theme.style.slider ? theme.style.slider : defaultCtnBg %>;
    }
  </style>
  <%- partial('google-analytics') %>
  <%- partial('baidu-analytics') %>
  <!-- 百度联盟 -->
<meta name="baidu_union_verify" content="0f6bcaf98996f9e1a31206d110de6b4a">
<!-- google 广告联盟验证 -->
<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
<!-- <script> -->
     <!-- (adsbygoogle = window.adsbygoogle || []).push({ -->
          <!-- google_ad_client: "ca-pub-4260506396377938", -->
          <!-- enable_page_level_ads: true -->
     <!-- }); -->
<!-- </script> -->
        <!-- <script src="https://www.gstatic.com/firebasejs/5.9.0/firebase.js"></script> -->
        <!-- <script> -->
        <!-- // Initialize Firebase -->
        <!-- var config = { -->
            <!-- apiKey: "AIzaSyAnYfr8F25Mu9Ge7LYwCCzW83yUTIjqK-g", -->
            <!-- authDomain: "wxnacy-blog.firebaseapp.com", -->
            <!-- databaseURL: "https://wxnacy-blog.firebaseio.com", -->
            <!-- projectId: "wxnacy-blog", -->
            <!-- storageBucket: "wxnacy-blog.appspot.com", -->
            <!-- messagingSenderId: "251180929635" -->
        <!-- }; -->
        <!-- firebase.initializeApp(config); -->
        <!-- </script> -->
<!-- </head> -->
